.back-link {
  display: inline-flex;
  align-items: center;
  column-gap: var(--small-distance);
  padding: var(--small-distance);
  border: 3px solid rgb(255, 0, 0);
  border-radius: var(--btn-border-radius);
  margin-bottom: var(--small-distance);
}

@media screen and (min-width: 600px) {
  .back-link {
    /* padding: var(--medium-distance);
    column-gap: var(--medium-distance); */
    margin-bottom: var(--medium-distance);
  }
}

.back-icon {
  font-size: var(--medium-font-size);
}
