.image-container {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  height: 300px;
  overflow: hidden;
  display: flex;
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.image-container img {
  border-radius: var(--card-border-radius);
}

.character {
  color: var(--accent-color);
}
