@media screen and (min-width: 700px) {
  .card-and-image-container {
    display: flex;
    column-gap: 24px;
  }

  .card-container {
    width: 100%;
  }

  .image-container {
    width: 100%;
  }

  .movie-image {
    width: 50%;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.movie-image {
  border-radius: var(--card-border-radius);
}

.main-title {
  font-size: var(--medium-2-font-size);
}

.subtitle {
  color: var(--accent-color);
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--small-distance);
}

.genre-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  background: var(--main-font-color);
  color: var(--main-bg-color);
  font-weight: 600;
}
