.movie-image {
  border-radius: var(--card-border-radius);
  margin-bottom: var(--small-distance);
}

.movie-link {
  display: inline-block;
  font-size: var(--medium-font-size);
  font-weight: 600;
}
