:root {
  --main-bg-color: #000;
  --extra-bg-color: rgba(255, 255, 255, 0.9);
  --main-font-color: rgba(255, 255, 255, 0.9);
  --extra-font-color: color: rgb(0, 0, 0);
  --accent-color: rgb(255, 0, 0);

  /* DISTANCE */
  --small-distance: 0.5rem;
  --medium-distance: 1.5rem;
  --big-distance: 2.5rem;

   /* FONT -SIZES */
  --small-font-size: 10px;
  --small-2-font-size: 14px;
  --medium-font-size: 20px;
  --big-font-size: 35px;

  /* BORDER RADIUS */
  --card-border-radius: 10px;
  --btn-border-radius: 5px;
   }

@media screen and (min-width: 700px) {
  :root {
    --small-font-size: 15px;
    --small-2-font-size: 18px;
    --medium-font-size: 24px;
    --big-font-size: 50px;

    /* DISTANCE */
  }
}



body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  letter-spacing: 0.07em;
  line-height: 1.5;
}

p {
  font-size: var(--small-2-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
